@media screen and (max-width : 922px) {
    .video-container {
        width: 100%;
        height: 333px;
    }

    .card ul {
        font-size: 11px;
    }

    .buttons {
        width: 100%;
    }

    .panel-body h5 {
        font-size: 9px;
    }

    .panel-body p {
        font-size: 8px;
    }

    .panel-body a {
        font-size: 8px;
    }

    footer a {
        font-size: 11px;
    }

    .copyright {
        font-size: 11px;
    }

    .card-contact h2 {
        font-size: 25px;
    }

    #berita img {
        width: 100%;
        height: 200px;
    }

    .gambar-berita img {
        width: 100%;
        height: 300px;
    }

    .gambar-berita h5 {
        font-size: 20px;
        line-height: normal;
    }

    #gal img {
        width: 100%;
        height: 100%;
    }

    #gal video {
        width: 100%;
        height: 100%;
    }

    .isi-struktur img {
        height: 100%;
        width: 350px;
    }

    #halaman img {
        width: 100%;
        height: 200px;
    }

    .panel {
        margin: 15px 0;
        width: 100%;
    }

    
}

@media screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
        font-size: 35px;
    }

    .hero-tagline p {
        font-size: 10px;
    }

    .video-container {
        width: 380px;
        height: 233px;
    }

    .img-hero {
        width: 65%;
        height: auto;
    }

    h2 {
        font-size: 34px;
    }

    .card {
        margin: 15px 0;
    }
    
    .card ul {
        font-size: small;
    }

    .card h3 {
        font-size: 20px;
    }

    .panel {
        margin: 15px 0;
        width: 300px;
        height: 416px;
    }

    .buttons {
        width: 100%;
    }

    #contact h3 {
        font-size: 20px;
        line-height: 35px;
    }

    .kontak a {
        line-height: 30px;
    }

    .card-contact {
        margin-top: 50px;
    }

    footer a {
        font-size: 11px;
    }

    .copyright {
        font-size: 8px;
    }

    #halaman img {
        width: 100%;
        height: 200px;
    }

    .judul-sejarah h2 {
        font-size: 25px;
    }

    .isi-sejarah p {
        font-size: 13px;
    }

    .isi-struktur img {
        height: 100%;
        width: 350px;
    }

    .misi-company {
        margin: 30px 0;
    }

    #berita img {
        width: 100%;
        height: 200px;
    }

    #gal img {
        width: 100%;
        height: 100%;
    }

    #gal video {
        width: 100%;
        height: 100%;
    }

    .gambar-berita img {
        width: 100%;
        height: 100%;
    }

    .tulisan-berita h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .tulisan-berita p {
        font-size: 12px;
    }

}

@media screen and (max-width: 350px) {

}
